@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope);
  --color-primary: #d1001f;
  --color-primary-light: #ff2e40;
  --color-primary-dark: #8a0015;

  --color-bg: #0d0d0d;
  --color-bg-light: #161616;
  --color-bg-dark: #000000;

  --color-border: #2b2b2b;

  --color-text-main: #ffffff;
  --color-text-secondary: #b3b3b3;
  --color-text-muted: #7a7a7a;
}

@layer base {
  html {
    font-family: var(--font-manrope), sans-serif;
  }
  input[type="checkbox"] {
    @apply h-4 w-4 rounded-full! border border-bg-light appearance-none cursor-pointer transition;
  }

  input[type="checkbox"]:checked {
    @apply bg-primary border-primary;
  }

  input[type="checkbox"]:focus {
    @apply ring-2 ring-primary/40;
  }
}

@layer components {
  .container-wrapper {
    @apply max-w-[1600px] mx-auto px-5;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}

/* Dark themed scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f; /* bg-dark */
}

::-webkit-scrollbar-thumb {
  background: #2a2a2a; /* border color */
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
